<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airchina.xn.dao.FlightcheckMapper">
  <resultMap id="BaseResultMap" type="com.airchina.xn.model.Flightcheck">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="Pilot_ID" jdbcType="INTEGER" property="pilotId" />
    <result column="FlightCheck_Date" jdbcType="DATE" property="flightcheckDate" />
    <result column="Type_Of_Aircraft" jdbcType="VARCHAR" property="typeOfAircraft" />
    <result column="Type_Of_Check" jdbcType="VARCHAR" property="typeOfCheck" />
    <result column="Conclusion" jdbcType="VARCHAR" property="conclusion" />
    <result column="Examiner" jdbcType="VARCHAR" property="examiner" />
    <result column="Signature" jdbcType="VARCHAR" property="signature" />
    <result column="Remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="Create_Time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from FlightCheck
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.airchina.xn.model.Flightcheck">
    insert into FlightCheck (id, Pilot_ID, FlightCheck_Date, 
      Type_Of_Aircraft, Type_Of_Check, Conclusion, 
      Examiner, Signature, Remarks, 
      Create_Time)
    values (#{id,jdbcType=INTEGER}, #{pilotId,jdbcType=INTEGER}, #{flightcheckDate,jdbcType=DATE}, 
      #{typeOfAircraft,jdbcType=VARCHAR}, #{typeOfCheck,jdbcType=VARCHAR}, #{conclusion,jdbcType=VARCHAR}, 
      #{examiner,jdbcType=VARCHAR}, #{signature,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertWithoutID" parameterType="com.airchina.xn.model.Flightcheck" useGeneratedKeys="true" keyProperty="id">
    insert into FlightCheck (Pilot_ID, FlightCheck_Date, 
      Type_Of_Aircraft, Type_Of_Check, Conclusion, 
      Examiner, Signature, Remarks)
    values (#{pilotId,jdbcType=INTEGER}, #{flightcheckDate,jdbcType=DATE}, 
      #{typeOfAircraft,jdbcType=VARCHAR}, #{typeOfCheck,jdbcType=VARCHAR}, #{conclusion,jdbcType=VARCHAR}, 
      #{examiner,jdbcType=VARCHAR}, #{signature,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.airchina.xn.model.Flightcheck">
    update FlightCheck
    set Pilot_ID = #{pilotId,jdbcType=INTEGER},
      FlightCheck_Date = #{flightcheckDate,jdbcType=DATE},
      Type_Of_Aircraft = #{typeOfAircraft,jdbcType=VARCHAR},
      Type_Of_Check = #{typeOfCheck,jdbcType=VARCHAR},
      Conclusion = #{conclusion,jdbcType=VARCHAR},
      Examiner = #{examiner,jdbcType=VARCHAR},
      Signature = #{signature,jdbcType=VARCHAR},
      Remarks = #{remarks,jdbcType=VARCHAR},
      Create_Time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, Pilot_ID, FlightCheck_Date, Type_Of_Aircraft, Type_Of_Check, Conclusion, 
    Examiner, Signature, Remarks, Create_Time
    from FlightCheck
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, Pilot_ID, FlightCheck_Date, Type_Of_Aircraft, Type_Of_Check, Conclusion, 
    Examiner, Signature, Remarks, Create_Time
    from FlightCheck
  </select>
  
  <select id="selectByPilotID" resultMap="BaseResultMap">
    select id, Pilot_ID, FlightCheck_Date, Type_Of_Aircraft, Type_Of_Check, Conclusion, 
    Examiner, Signature, Remarks, Create_Time
    from FlightCheck
    where Pilot_ID = #{Pilot_ID,jdbcType=INTEGER}
  </select>
  
</mapper>