<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airchina.xn.dao.ParametersMapper">
  <resultMap id="BaseResultMap" type="com.airchina.xn.model.Parameters">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ParameterType" jdbcType="VARCHAR" property="parametertype" />
    <result column="ParameterName" jdbcType="VARCHAR" property="parametername" />
    <result column="ParameterValue" jdbcType="VARCHAR" property="parametervalue" />
    <result column="Create_Time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Parameters
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.airchina.xn.model.Parameters">
    insert into Parameters (id, ParameterType, ParameterName, 
      ParameterValue, Create_Time)
    values (#{id,jdbcType=INTEGER}, #{parametertype,jdbcType=VARCHAR}, #{parametername,jdbcType=VARCHAR}, 
      #{parametervalue,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertWithoutID" parameterType="com.airchina.xn.model.Parameters" useGeneratedKeys="true" keyProperty="id">
    insert into Parameters (ParameterType, ParameterName, 
      ParameterValue)
    values (#{parametertype,jdbcType=VARCHAR}, #{parametername,jdbcType=VARCHAR}, 
      #{parametervalue,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.airchina.xn.model.Parameters">
    update Parameters
    set ParameterType = #{parametertype,jdbcType=VARCHAR},
      ParameterName = #{parametername,jdbcType=VARCHAR},
      ParameterValue = #{parametervalue,jdbcType=VARCHAR},
      Create_Time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, ParameterType, ParameterName, ParameterValue, Create_Time
    from Parameters
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, ParameterType, ParameterName, ParameterValue, Create_Time
    from Parameters 
  </select>
  
  <select id="selectAllPaged" resultMap="BaseResultMap">
    select * from (
	    select @rownum:=@rownum+1 as RowNum, P.id, ParameterType, P.ParameterName, P.ParameterValue, P.Create_Time
	    from Parameters P, (select @rownum:=0) R
	  ) PR
    where RowNum > #{currentPage,jdbcType=INTEGER} * #{countPerPage,jdbcType=INTEGER}
    limit 0, #{countPerPage,jdbcType=INTEGER}
  </select>
  
  <select id="selectByType" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, ParameterType, ParameterName, ParameterValue, Create_Time
    from Parameters
    where ParameterType = #{ParameterType,jdbcType=VARCHAR}  
  </select>
  
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, ParameterType, ParameterName, ParameterValue, Create_Time
    from Parameters
    where ParameterName = #{ParameterName,jdbcType=VARCHAR}  
  </select>
  
  <select id="selectByTypePaged" resultMap="BaseResultMap">
    select * from (
	    select @rownum:=@rownum+1 as RowNum, P.id, P.ParameterType, P.ParameterName, P.ParameterValue, P.Create_Time
	    from Parameters P, (select @rownum:=0) R 
	    where P.ParameterType = #{ParameterType,jdbcType=VARCHAR}
    ) PR  
    where RowNum > #{currentPage,jdbcType=INTEGER} * #{countPerPage,jdbcType=INTEGER}
    limit 0, #{countPerPage,jdbcType=INTEGER}
  </select>
  
  <select id="selectByNamePaged" resultMap="BaseResultMap">
    select * from (
      select @rownum:=@rownum+1 as RowNum, P.id, P.ParameterType, P.ParameterName, P.ParameterValue, P.Create_Time
      from Parameters P, (select @rownum:=0) R 
      where P.ParameterName = #{ParameterName,jdbcType=VARCHAR}  
    ) PR  
    where RowNum > #{currentPage,jdbcType=INTEGER} * #{countPerPage,jdbcType=INTEGER}
    limit 0, #{countPerPage,jdbcType=INTEGER}
  </select>
  
</mapper>